{% extends 'DEPARTMENT_PROJECT_MANAGEMENT_SYSTEM/base_student_template.html' %}
{% block page_title %}
Add Subject
{% endblock page_title %}
{% block main_content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Add Sub</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form"  method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  {{ form.as_p }}
                <div class="card-footer">
                  <a href = "#"><button type="submit" class="btn btn-primary btn-block">Submit</button></a>
                </div>
              </form>
            </div>
          </div>
          <div class="form-group">
            {{form.errors}}
            {% if messages %}
              {% for message in messages %}
              {% if message.tags == 'error' %}
              <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
              {% endif %}
              {% if message.tags == 'success' %}
              <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
              {% endif %}
              {% endfor %}
            {% endif %}
          </div>
          </div>
      </div>
    </section>
    <!-- /.content -->
{% endblock main_content %}

