{% extends 'DEPARTMENT_PROJECT_MANAGEMENT_SYSTEM/base_student_template.html' %}
{% block page_title %}
View Submissions
{% endblock page_title %}
{% block main_content %}
{% csrf_token %}
<!-- Page Content -->
<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class = "header_background">
                </div>
                {% for item in title%}
                <h3>{{ item.0 }}</h3>
                <h3>Project Domain: {{ item.1 }}</h3>
                <h3>Guide: Prof. {{ item.2 }} {{ item.3 }}</h3>
                {% endfor %}
                <h3>Recent Submissions</h3>
                <table class="table">
                    <thead class="thead-dark"> 
                        <tr>
                        <th scope="col">Phase No.</th>
                        <th scope="col">Phase Description</th>
                        <th scope="col">Submitted At</th>
                        <th scope="col">Submission Status</th>
                        <th scope="col">View Grade</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        {% for item in data%}
                        <td>{{ item.0 }}</td>
                        <td>{{ item.1 }}</td>
                        <td>{{ item.2 }}</td>
                        <td><h5 style="color: red;">{{ item.3 }}</h5></td>
                        <td><a href = "#">View Grade</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    </table>
            </div>
        </div>
    </div>
</div>
{% endblock main_content %}