{% extends 'DEPARTMENT_PROJECT_MANAGEMENT_SYSTEM/base_admin_template.html' %}
{% block page_title %}
Update Student
{% endblock page_title %}
{% block main_content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <h2 style="text-align:center"> Edit Blog </h2>
        <form method="POST" >
          <div class = "form-group">
            <label><b>USN:</b></label>
            {{form.usn}}
          </div>
          <div class = "form-group">
            <label><b></b></label>
          </div>
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn btn-success">
        </form>
        </div>
    </section>
    <!-- /.content -->
{% endblock main_content %}

