{% extends 'DEPARTMENT_PROJECT_MANAGEMENT_SYSTEM/base_admin_template.html' %}
{% block page_title %}
Update Student
{% endblock page_title %}
{% block main_content %}
<!-- /.row -->
<div class="row">
    <div class="col-12">
        <div class="card">
        <div class="card-header">
            <h3 class="card-title">Students</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0" style="height: 300px;">
            <table class="table table-head-fixed text-nowrap">
            <thead>
                <tr>
                <th>USN</th>
                <th>First Name</th>
                <th>Middle Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone_No</th> 
                <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                {% for item in stud_details %}
                <td>{{ item.0 }}</td>
                <td>{{ item.1 }}</td>
                <td>{{ item.2 }}</td>
                <td>{{ item.3 }}</td>
                <td>{{ item.4 }}</td>
                <td>{{ item.5 }}</td>
                <td><a href = "/edit_student/{{item.0}}"><button type="button" class="btn btn-danger" name = "update_student">Update</button></a></td>
                <td></td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
        <div class="form-group">
            {% if messages %}
              {% for message in messages %}
              {% if message.tags == 'error' %}
              <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
              {% endif %}
              {% if message.tags == 'success' %}
              <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
              {% endif %}
              {% endfor %}
            {% endif %}
          </div>
        <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    </div>
{% endblock main_content %}